body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('slot_machine.jpg') no-repeat center center fixed;
    background-size: contain;
    color: white;
    margin: 0;
    position: relative;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.slot-machine {
    position: absolute;
    width: 50vw;
    max-width: 600px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 20px;
}

.reels {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.reel-container {
    width: 80px;
    height: 190px;
    overflow: hidden;
    background: transparent;
    border-radius: 5px;
    margin: 0 6px;
    position: relative;
}

.reel {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -240px;
    width: 100%;
}

.slot {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-bottom: none;
    background: transparent;
}

button {
    padding: 25px 30px; /* Butonu büyüttük */
    font-size: 1.2rem; /* Yazıyı büyüttük */
    background: transparent;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: none;
    transition: 0.2s;
    position: absolute;
    top: calc(95% + 190px); /* Butonu daha aşağıya aldık */
    left: calc(50% + 7px);
    transform: translate(-50%, -50%);
}

button:hover {
    background: transparent;
    color: #ffd700; /* Hafif altın sarısı parlak bir efekt */
}